[package]
name = "gamedig"
version = "0.2.3"
edition = "2021"
authors = [
    "CosminPerRam [https://github.com/CosminPerRam]",
    "rust-GameDig contributors [https://github.com/gamedig/rust-gamedig/contributors]",
    "node-GameDig contributors [https://github.com/gamedig/node-gamedig/contributors]",
]
license = "MIT"
description = "Check out servers with this."
homepage = "https://github.com/gamedig/rust-gamedig"
documentation = "https://docs.rs/gamedig/latest/gamedig/"
repository = "https://github.com/gamedig/rust-gamedig"
readme = "README.md"
keywords = ["server", "query", "game", "check", "status"]
rust-version = "1.60.0"

[features]
default = ["game_defs"]
no_games = []
no_services = []
game_defs = ["dep:phf"]
serde = ["dep:serde", "serde/derive"]

[dependencies]
byteorder = "1.4.3"
bzip2-rs = "0.1.2"
crc32fast = "1.3.2"
serde_json = "1.0.91"

serde = { version = "1.0.155", optional = true }

phf = { version = "0.11", optional = true, features = ["macros"] }

