[package]
name = "gamedig"
version = "0.3.0"
edition = "2021"
authors = [
    "CosminPerRam [https://github.com/CosminPerRam]",
    "rust-GameDig contributors [https://github.com/gamedig/rust-gamedig/contributors]",
    "node-GameDig contributors [https://github.com/gamedig/node-gamedig/contributors]",
]
license = "MIT"
description = "Check out servers with this."
homepage = "https://github.com/gamedig/rust-gamedig"
documentation = "https://docs.rs/gamedig/latest/gamedig/"
repository = "https://github.com/gamedig/rust-gamedig"
readme = "README.md"
keywords = ["server", "query", "game", "check", "status"]
rust-version = "1.65.0"

[features]
default = ["games", "services", "game_defs"]
games = []
services = []
game_defs = ["dep:phf", "games"]
serde = ["dep:serde", "serde/derive"]

[dependencies]
byteorder = "1.4"
bzip2-rs = "0.1"
crc32fast = "1.3"
serde_json = "1.0"
encoding = "0.2"

serde = { version = "1.0", optional = true }

phf = { version = "0.11", optional = true, features = ["macros"] }

