[package]
name    = "gamedig_ffi"
authors = ["GameDig Organization & Contributors [https://github.com/gamedig]"]
version = "0.0.1"
edition = "2024"
license = "MIT"
publish = false

[lib]
crate-type = ["cdylib", "staticlib"]

[dependencies]
gamedig = { path = "../lib" }
